@charset "utf-8";
body {
	background-image: url(bckg.gif);
	margin: 0px;
}
#container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-image: url(header_bckg.jpg);
	height: 110px;
	width: 900px;
}
#nav {
	background-image: url(nav_bckg.jpg);
	height: 29px;
	width: 900px;
}
#center {
	background-image: url(center_bckg.gif);
	width: 900px;
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	float: left;
}
#content {
	float: left;
	width: 600px;
	padding-right: 25px;
	padding-left: 25px;
}
#logo {
	background-image: url(logo%20ups.png);
	height: 80px;
	width: 67px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
#footer {
	background-image: url(footer_bckg.jpg);
	width: 900px;
	padding-top: 35px;
	padding-bottom: 35px;
	float: left;
}
#fone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: right;
	margin-right: 20px;
	font-size: 20px;
	text-align: right;
}
#menu {
	float: left;
	width: 250px;
}
#email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	float: left;
	width: 200px;
	margin-left: 20px;
}
